<div class="bg-white py-4 sm:py-10">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h2
        class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
      >Inside my mind</h2>
      <p class="mt-2 text-lg leading-8 text-gray-600">Sharring the narrative.</p>
    </div>

  <SearchBar @onSearch={{this.updateSearch}} />

    <div
      class="mx-auto mt-4 grid max-w-2xl grid-cols-1 gap-x-44 gap-y-16 border-t border-gray-200 pt-4 sm:mt-4 sm:pt-4 lg:mx-0 lg:max-w-none lg:grid-cols-3"
    >

      {{#each this.filteredArticles as |post|}}
        <article class="flex max-w-xl flex-col items-start justify-between">
          <div class="flex items-center gap-x-4 text-xs">

            <span
              class="bg-blue-100 text-blue-800 text-xs font-bold inline-flex items-center px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-blue-400 border border-blue-400"
            >
              <svg
                class="w-2.5 h-2.5 me-1.5"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 20 20"
              >
                <path
                  d="M10 0a10 10 0 1 0 10 10A10.011 10.011 0 0 0 10 0Zm3.982 13.982a1 1 0 0 1-1.414 0l-3.274-3.274A1.012 1.012 0 0 1 9 10V6a1 1 0 0 1 2 0v3.586l2.982 2.982a1 1 0 0 1 0 1.414Z"
                />
              </svg>
              {{format-date post.created_at}}
            </span>
            <LinkTo @route="post" @model={{post.id}}
              class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100"
            >
              {{#each post.categories as |category|}}
                <span
                  class="bg-gray-100 text-gray-800 text-xs font-bold inline-flex items-center px-2.5 py-0.5 rounded me-2 dark:bg-gray-700 dark:text-gray-400 border border-gray-500"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-3.5 h-3.5 me-1.5"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M12.75 3.03v.568c0 .334.148.65.405.864l1.068.89c.442.369.535 1.01.216 1.49l-.51.766a2.25 2.25 0 0 1-1.161.886l-.143.048a1.107 1.107 0 0 0-.57 1.664c.369.555.169 1.307-.427 1.605L9 13.125l.423 1.059a.956.956 0 0 1-1.652.928l-.679-.906a1.125 1.125 0 0 0-1.906.172L4.5 15.75l-.612.153M12.75 3.031a9 9 0 0 0-8.862 12.872M12.75 3.031a9 9 0 0 1 6.69 14.036m0 0-.177-.529A2.25 2.25 0 0 0 17.128 15H16.5l-.324-.324a1.453 1.453 0 0 0-2.328.377l-.036.073a1.586 1.586 0 0 1-.982.816l-.99.282c-.55.157-.894.702-.8 1.267l.073.438c.08.474.49.821.97.821.846 0 1.598.542 1.865 1.345l.215.643m5.276-3.67a9.012 9.012 0 0 1-5.276 3.67m0 0a9 9 0 0 1-10.275-4.835M15.75 9c0 .896-.393 1.7-1.016 2.25"
                    />
                  </svg>

                  {{category.name}}
                </span>
              {{/each}}
            </LinkTo>
          </div>
          <div class="group relative">
            <h3
              class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600"
            >
              <LinkTo @route="post" @model={{post.id}}>
                <span class="absolute inset-0"></span>
                {{post.title}}
              </LinkTo>
            </h3>
            <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-800">
              {{post.sub_title}}
            </p>
          </div>

          <div class="text-sm leading-6 pt-2">
            <p class="font-semibold text-gray-900">
              {{#each post.tags as |tag|}}

                <Tag @tagName={{tag.name}} />

              {{/each}}
            </p>

          </div>

          <div class="relative mt-4 flex items-center gap-x-4">
            <img
              src="{{this.sourcePhotoProfile}}"
              alt=""
              class="h-10 w-10 rounded-full bg-gray-50"
            />
            <div class="text-sm leading-6">
              <p class="font-semibold text-gray-900">
                <LinkTo @route="post" @model={{post.id}}>
                  <span class="absolute inset-0"></span>
                  {{post.user.name}}
                </LinkTo>
              </p>
              <p class="text-gray-600">Author</p>
            </div>
          </div>

        </article>
      {{/each}}

    </div>
  </div>
</div>