<div class="container relative flex flex-col justify-between h-full max-w-6xl px-10 mx-auto xl:px-0 mt-5">
    <h2 class="text-3xl font-extrabold leading-tight text-gray-900 mb-8">My Showcase</h2>
    <div class="w-full">
        <div class="flex flex-col w-full mb-10 sm:flex-row">
            <div class="w-full mb-10 sm:mb-0 sm:w-1/2">
                <div class="relative h-full ml-0 mr-0 sm:mr-10">
                    <span class="absolute top-0 left-0 w-full h-full mt-1 ml-1 bg-indigo-500 rounded-lg"></span>
                    <div class="relative h-full p-5 bg-white border-2 border-indigo-500 rounded-lg">
                        <div class="flex items-center -mt-1">
                            <h3 class="my-2 ml-3 text-lg font-bold text-gray-800">Lead Generator (Desktop App)</h3>
                        </div>
                        <div class="ml-3 mb-4 flex items-center gap-4">
                            <img class="w-16 h-16"
                                src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/qt/qt-original.svg" />
                            <img class="w-16 h-16"
                                src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/python/python-original.svg" />
                            <img class="w-16 h-16"
                                src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mysql/mysql-original-wordmark.svg" />
                        </div>
                        <p class="ml-3 mb-4 text-gray-600">
                            Aplikasi Lead Generator dirancang untuk memetakan target pasar dan pesaing bisnis Anda
                            menggunakan data dari Google Maps. Aplikasi ini mengumpulkan informasi seperti rating
                            bintang, jumlah ulasan, alamat, nomor telepon, email, dan akun media sosial, memudahkan Anda
                            menganalisis kompetitor di sekitar dengan cepat dan akurat.
                        </p>

                        <p class="ml-3 mb-4 text-gray-600">
                            <button type="button" {{on "click" (fn
                                this.toggleModal "assets/images/lead_generator/lead_1.png"
                                (array "assets/images/lead_generator/lead_2.png" "assets/images/lead_generator/lead_3.png" "assets/images/lead_generator/lead_4.png" "assets/images/lead_generator/lead_5.png"
                                ) )}}
                                class="inline-flex items-center px-4 py-2 text-sm font-medium text-white bg-indigo-500 rounded-lg hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-gray-500">
                                Preview Aplikasi
                                <svg class="w-4 h-4 ml-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M9 5l7 7-7 7"></path>
                                </svg>
                            </button>


                        </p>
                    </div>
                </div>
            </div>
            <div class="w-full sm:w-1/2">
                <div class="relative h-full ml-0 md:mr-10">
                    <span class="absolute top-0 left-0 w-full h-full mt-1 ml-1 bg-purple-500 rounded-lg"></span>
                    <div class="relative h-full p-5 bg-white border-2 border-purple-500 rounded-lg">
                        <div class="flex items-center -mt-1">
                            <h3 class="ml-3 my-2 ml-3 text-lg font-bold text-gray-800">Al Kahf Laporan Keuangan Jurnal
                                (Web App)</h3>
                        </div>

                        <div class="ml-3 mb-4 flex items-center gap-4">
                            <img class="w-14 h-14"
                                src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/laravel/laravel-original.svg" />
                            <img class="w-14 h-14"
                                src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/bootstrap/bootstrap-original-wordmark.svg" />
                            <img class="w-14 h-14"
                                src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mysql/mysql-original-wordmark.svg" />
                        </div>
                        <p class="ml-3 mb-2 text-gray-600">
                            Al Kahf Laporan Keuangan Jurnal adalah aplikasi web yang dirancang untuk para investor Mitra
                            Publikasi Ilmiah (MPI). MPI merupakan penerbit jurnal ilmiah di bidang kesehatan. Aplikasi
                            ini berfungsi untuk mencatat laporan keuangan masing-masing investor serta pendapatan yang
                            diperoleh secara transparan dan efisien.
                        </p>
                        <p class="ml-3 mb-4 text-gray-600">
                              <button type="button" {{on "click" (fn
                                this.toggleModal "assets/images/lead_generator/lead_1.png"
                                (array "assets/images/lead_generator/lead_2.png" "assets/images/lead_generator/lead_3.png" "assets/images/lead_generator/lead_4.png" "assets/images/lead_generator/lead_5.png"
                                ) )}}
                                class="inline-flex items-center px-4 py-2 text-sm font-medium text-white bg-indigo-500 rounded-lg hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-gray-500">
                                Preview Aplikasi
                                <svg class="w-4 h-4 ml-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M9 5l7 7-7 7"></path>
                                </svg>
                            </button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-col w-full mb-5 sm:flex-row">
            <div class="w-full mb-10 sm:mb-0 sm:w-1/2">
                <div class="relative h-full ml-0 mr-0 sm:mr-10">
                    <span class="absolute top-0 left-0 w-full h-full mt-1 ml-1 bg-blue-400 rounded-lg"></span>
                    <div class="relative h-full p-5 bg-white border-2 border-blue-400 rounded-lg">
                        <div class="flex items-center -mt-1 mb-4">
                            <h3 class="my-2 ml-3 text-lg font-bold text-gray-800">Indonesian Scholar Journal of Nursing
                                and Midwifery Science (ISJNMS)</h3>
                        </div>
                        <div class="ml-3 mb-4 flex items-center gap-4">
                            <img class="w-16 h-16" src="/assets/images/ojs.png" />
                            <img class="w-16 h-16"
                                src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/bootstrap/bootstrap-original-wordmark.svg" />
                            <img class="w-16 h-16"
                                src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mysql/mysql-original-wordmark.svg" />
                        </div>
                        <p class="ml-3 mb-2 text-gray-600 text-left mb-4">
                            Indonesian Scholar Journal of Nursing and Midwifery Science (ISJNMS) adalah jurnal ilmiah
                            berbasis Open Journal System (OJS) yang dikelola oleh Dohara Publisher Open Access Journal
                            (DPOAJ). Jurnal ini fokus pada bidang keperawatan dan kebidanan, menyediakan platform bagi
                            para akademisi, peneliti, dan praktisi kesehatan untuk mempublikasikan hasil penelitian,
                            tinjauan literatur, dan studi kasus yang berkualitas.
                        </p>

                        <p class="ml-3 mb-4 text-gray-600">
                            <button type="button"
                                {{on "click" (fn
                                this.toggleModal "assets/images/isjnms/isjnms_1.png"
                                (array "assets/images/isjnms/isjnms_2.png"
                                ) )}} 
                                class="inline-flex items-center px-4 py-2 text-sm font-medium text-white bg-indigo-500 rounded-lg hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-gray-500">
                                Preview Aplikasi
                                <svg class="w-4 h-4 ml-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M9 5l7 7-7 7"></path>
                                </svg>
                            </button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="w-full mb-10 sm:mb-0 sm:w-1/2">
                <div class="relative h-full ml-0 mr-0 sm:mr-10">
                    <span class="absolute top-0 left-0 w-full h-full mt-1 ml-1 bg-yellow-400 rounded-lg"></span>
                    <div class="relative h-full p-5 bg-white border-2 border-yellow-400 rounded-lg">
                        <div class="flex items-center -mt-1 mb-4">
                            <h3 class="my-2 ml-3 text-lg font-bold text-gray-800">Indonesian Scholar Journal of Medical
                                and Health Science (ISJMHS)</h3>
                        </div>
                        <div class="ml-3 mb-4 flex items-center gap-4 mb-4">
                            <img class="w-16 h-16" src="/assets/images/ojs.png" />
                            <img class="w-16 h-16"
                                src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/bootstrap/bootstrap-original-wordmark.svg" />
                            <img class="w-16 h-16"
                                src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mysql/mysql-original-wordmark.svg" />
                        </div>
                        <p class="ml-3 mb-2 text-gray-600">
                            Indonesian Scholar Journal of Medical and Health Science (ISJMHS) adalah jurnal ilmiah
                            berbasis Open Journal System (OJS) yang dikelola oleh Dohara Publisher Open Access Journal
                            (DPOAJ). Jurnal ini berfokus pada bidang ilmu kedokteran dan kesehatan, menyediakan wadah
                            bagi peneliti, akademisi, dan praktisi kesehatan untuk mempublikasikan hasil penelitian,
                            ulasan ilmiah, dan studi kasus yang inovatif dan berkualitas tinggi.
                        </p>

                        <p class="ml-3 mb-4 text-gray-600">
                            <button type="button" 
                                {{on "click" (fn
                                this.toggleModal "assets/images/isjmhs/isjmhs_1.png"
                                (array "assets/images/isjmhs/isjmhs_2.png"
                                ) )}} 
                                class="inline-flex items-center px-4 py-2 text-sm font-medium text-white bg-indigo-500 rounded-lg hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-gray-500">
                                Preview Aplikasi
                                <svg class="w-4 h-4 ml-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M9 5l7 7-7 7"></path>
                                </svg>
                            </button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="w-full sm:w-1/2">
                <div class="relative h-full ml-0 md:mr-10">
                    <span class="absolute top-0 left-0 w-full h-full mt-1 ml-1 bg-green-500 rounded-lg"></span>
                    <div class="relative h-full p-5 bg-white border-2 border-green-500 rounded-lg">
                        <div class="flex items-center -mt-1 mb-4">
                            <h3 class="my-2 ml-3 text-lg font-bold text-gray-800">Aplikasi Sistem Pendukung Keputusan
                                Karyawan Terbaik Koperasi Hiswana Migas Depok (Web App)</h3>
                        </div>
                        <div class="ml-3 mb-4 flex items-center gap-4 mb-4">
                            <img class="w-16 h-16"
                                src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/rails/rails-plain-wordmark.svg" />
                            <img class="w-16 h-16"
                                src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/bootstrap/bootstrap-original-wordmark.svg" />
                            <img class="w-16 h-16"
                                src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mysql/mysql-original-wordmark.svg" />
                        </div>

                        <p class="ml-3 mb-2 text-gray-600">
                            Aplikasi SPK dengan metode SAW membantu Koperasi Hiswana Migas Depok memilih karyawan
                            terbaik secara objektif dan efisien. Mengotomatisasi penilaian berdasarkan kriteria seperti
                            kinerja, aplikasi ini menghasilkan peringkat transparan, mengurangi kesalahan, dan mendukung
                            motivasi karyawan serta manajemen SDM.
                        </p>
                        <p class="ml-3 mb-4 text-gray-600">
                            <button type="button"
                                {{on "click" (fn
                                this.toggleModal "assets/images/hiswana_migas/hiswana_1.png"
                                (array "assets/images/hiswana_migas/hiswana_2.png" "assets/images/hiswana_migas/hiswana_3.png" "assets/images/hiswana_migas/hiswana_4.png"
                                ) )}} 
                                class="inline-flex items-center px-4 py-2 text-sm font-medium text-white bg-indigo-500 rounded-lg hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-gray-500">
                                Preview Aplikasi
                                <svg class="w-4 h-4 ml-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M9 5l7 7-7 7"></path>
                                </svg>
                            </button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{{#if this.isShowingModal}}
 <div class="fixed inset-0 z-10 w-screen overflow-y-auto bg-black/50 px-4 py-6">
  <div class="flex min-h-full items-end justify-center text-center sm:items-center sm:p-0">
    <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 w-full max-w-2xl">

      <!-- Modal Content -->
      <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
        <div class="sm:flex sm:items-start">
          <div class="w-full">
            <!-- Featured Image -->
            <div class="mb-6">
              <img
                class="w-full max-h-[600px] object-contain rounded-lg"
                src={{this.featuredImage}}
                alt="Featured Image"
              />
            </div>

            <!-- Small Images Grid -->
            <div class="grid grid-cols-2 sm:grid-cols-4 md:grid-cols-5 gap-4">
              {{#each this.images as |image|}}
                <div>
                  <img
                    class="w-full h-auto object-cover rounded-lg hover:ring-2 hover:ring-indigo-500 transition"
                    src={{image}}
                    alt="Image"
                  />
                </div>
              {{/each}}
            </div>
          </div>
        </div>
      </div>

      <!-- Footer -->
      <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
        <button
          {{on "click" this.closeModal}}
          type="button"
          class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>


{{/if}}

</div>